/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/components/home/categories/styles.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_categories__lZgSm {
  display: flex;
  height: 64px;
  gap: 24px;
}

.styles_category__DVOxJ {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #333;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 16px 48px;
  border-radius: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.styles_newsContainer__ZP6bL {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 36px 18px;
  gap: 50px;
  width: 100%;
}

.styles_newsSliderContainer__kE3Fp {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.styles_newsSlider__y5E_6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding: 0px 16px;
  width: "100%";
  overflow-x: auto;
}
.styles_newsSlider__y5E_6::-webkit-scrollbar {
  display: none;
}

.styles_newsSliderDotsCon__KGZ2T {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
